[submodule "ensign_demo_app"]
	path = ensign_demo_app
	url = https://github.com/ensigns/ensign_demo_app.git
[submodule "ensign_registry"]
	path = ensign_registry
	url = https://github.com/ensigns/ensign_registry.git
[submodule "ensign_gateway"]
	path = ensign_gateway
	url = https://github.com/ensigns/ensign_gateway.git
[submodule "ensign_demo_frontend"]
	path = ensign_demo_frontend
	url = https://github.com/ensigns/ensign_demo_frontend.git
